[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pandas = "*"
yapf = "*"

[packages]
pymysql = "*"
sqlalchemy = "*"
marshmallow = "*"
flask_restful = "*"
flask_cors = "*"
jwt = "*"
webargs = "*"
pyhumps = "*"
flask-csv = "*"
pytest-cov = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"

[packages.python-i18n]
extras = [ "yaml",]
version = "*"
